@media (max-width: 1200px) {
  article .bg-image {
    height: 500px;
  }
  main .main-text {
    max-width: 990px;
  }
  main .main-image {
    max-width: 950px;
  }
  footer {
    height: 170px;
  }
  .footer-line {
    display: none;
  }
  .footer-bot {
    display: none;
  }
}
@media (max-width: 992px) {
  article .bg-image {
    height: 400px;
  }
  article .bg-image div {
    font-size: 42px;
    font-weight: 600;
  }
  article .bg-image div ul .link {
    font-size: 16px;
  }
  article .bg-image div ul .article-list-br {
    margin: 28px 20px 0px;
  }
  main h1 {
    font-size: 28px;
    font-weight: 600;
  }
  main .main-text {
    max-width: 760px;
  }
  main .main-text p {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin: 25px 25px;
  }
  main .main-image {
    max-width: 700px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
  }
  header .header {
    display: none;
  }
  header .small-screen-menu {
    display: none;
  }
  header .button-menu {
    display: block;
    width: 50px;
    height: 35px;
    visibility: visible;
  }
  header .open {
    display: block;
    height: 230px;
    width: 100%;
    position: relative;
    top: 70px;
    padding: 5px 0px 0px 0px;
    background-color: rgb(216, 216, 216);
    padding-top: 70px;
  }
  header .open ul {
    display: block;
    justify-content: center;
    margin-left: 30px;
    padding: 0px;
  }
  header .open ul li {
    margin-top: 9px;
  }
  header .open ul li a {
    font-size: 20px;
    font-weight: 300;
    line-height: 14px;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: none;
  }
  article .bg-image {
    height: 400px;
  }
  article .bg-image div {
    font-size: 42px;
    font-weight: 600;
  }
  article .bg-image div ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
  article .bg-image div ul .link {
    font-size: 16px;
  }
  article .bg-image div ul .article-list-br {
    display: none;
  }
  main h1 {
    font-size: 25px;
    font-weight: 600;
  }
  main .main-text {
    max-width: 600px;
  }
  main .main-text p {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 25px 25px;
  }
  main .main-image {
    max-width: 600px;
  }
  footer {
    height: 110px;
  }
  footer .footer-manu .footer-top .footer-right {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-right h2 {
    font-size: 18px;
    margin-left: 0;
  }
  footer .footer-manu .footer-top .footer-left {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-left h2 {
    font-size: 18px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  header .open {
    display: block;
    height: 230px;
  }
  header .open ul li a {
    font-size: 18px;
  }
  article .bg-image {
    height: 350px;
  }
  article .bg-image div {
    font-size: 38px;
  }
  article .bg-image div ul {
    margin-top: 30px;
  }
  article .bg-image div ul .link {
    font-size: 15px;
  }
  main h1 {
    font-size: 20px;
    font-weight: none;
  }
  main .main-text {
    max-width: 600px;
  }
  main .main-text p {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin: 15px 15px;
  }
  main .main-image {
    max-width: none;
  }
  main .main-image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 10px 0px;
  }
  footer {
    height: 225px;
  }
  footer .footer-manu .footer-top {
    display: flex;
    flex-direction: column;
  }
  footer .footer-manu .footer-top .footer-right {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-right h2 {
    font-size: 17px;
    margin-left: 0;
    text-align: center;
  }
  footer .footer-manu .footer-top .footer-left {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-left h2 {
    font-size: 17px;
    margin-left: 10px;
  }
  footer .footer-manu .footer-top .footer-left ul li {
    font-size: 14px;
    margin: 5px 0px;
    text-align: center;
  }
  footer .footer-manu .footer-top .footer-left ul li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 374px) {
  header .open ul li a {
    font-size: 17px;
  }
}/*# sourceMappingURL=adaptiv.css.map */