html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 60px;
  width: 100%;
  background: rgb(216, 216, 216);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
header .small-screen-menu {
  display: none;
}
header ul {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20px 0 0 0;
}
header ul ul {
  display: none;
}
header ul .open ul {
  display: block;
  height: 80px;
  position: relative;
  top: 20px;
  padding: 5px 0px 0px 0px;
  background-color: rgb(216, 216, 216);
  background: rgb(216, 216, 216);
}
header ul .open ul li {
  margin-top: 7px;
}
header ul .open ul li a {
  font-size: 16px;
  font-weight: 300;
  line-height: 14px;
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}
header ul .open ul li:hover {
  color: #85a3db;
}
header ul .link {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.1s;
  cursor: pointer;
}
header ul .link:hover {
  color: #85a3db;
}

article .bg-image {
  background-image: url(../image/menu.jpg);
  background-position: center;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
article .bg-image div {
  font-size: 68px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: black 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
article .bg-image div ul {
  display: flex;
}
article .bg-image div ul .link {
  font-size: 17px;
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
  text-shadow: black 5px 5px 5px;
}
article .bg-image div ul .article-list-br {
  box-shadow: 1px 1px #000000;
  margin: 52px 20px 0px;
  background: #ffffff;
  height: 5px;
  width: 5px;
  display: inline-block;
  border-radius: 40%;
}

main {
  margin: 30px 0 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main h1 {
  font-size: 30px;
  font-weight: 600;
}
main .main-text {
  max-width: 1200px;
}
main .main-text p {
  font-weight: 300;
  font-size: 24px;
  line-height: 25px;
  color: #000000;
  margin: 25px 25px;
}
main .main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}
main .main-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 25px 0px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(216, 216, 216);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
footer .footer-manu {
  padding-left: 40px;
  padding-right: 40px;
}
footer .footer-manu .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-manu .footer-top .footer-left {
  margin-top: 20px;
}
footer .footer-manu .footer-top .footer-left h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  color: #000000;
  margin: 20px 20px;
  text-shadow: rgb(206, 204, 204) 2px 2px 2px;
}
footer .footer-manu .footer-top .footer-left ul li {
  margin: 10px 20px;
}
footer .footer-manu .footer-top .footer-left ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: 0.2s;
}
footer .footer-manu .footer-top .footer-left ul li a:hover {
  color: #85a3db;
}
footer .footer-manu .footer-top .footer-right {
  margin-top: 20px;
}
footer .footer-manu .footer-top .footer-right h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  color: #000000;
  margin: 20px 5px;
  text-shadow: rgb(206, 204, 204) 2px 2px 2px;
  text-align: center;
}
footer .footer-manu .footer-top .footer-right a {
  margin: 0px 2px 0px 2px;
  text-decoration: none;
}
footer .footer-manu .footer-top .footer-right a svg {
  border-radius: 5px;
}
footer .footer-manu .footer-line {
  position: absolute;
  width: 85%;
  height: 0px;
  border: 1px solid #a8a8a8;
  margin-left: 5%;
  margin-right: 100px;
}
footer .footer-manu .footer-bot {
  font-size: 10px;
  margin: 20px 20px;
}

@media (max-width: 1200px) {
  article .bg-image {
    height: 500px;
  }
  main .main-text {
    max-width: 990px;
  }
  main .main-image {
    max-width: 950px;
  }
  footer {
    height: 170px;
  }
  .footer-line {
    display: none;
  }
  .footer-bot {
    display: none;
  }
}
@media (max-width: 992px) {
  article .bg-image {
    height: 400px;
  }
  article .bg-image div {
    font-size: 42px;
    font-weight: 600;
  }
  article .bg-image div ul .link {
    font-size: 16px;
  }
  article .bg-image div ul .article-list-br {
    margin: 28px 20px 0px;
  }
  main h1 {
    font-size: 28px;
    font-weight: 600;
  }
  main .main-text {
    max-width: 760px;
  }
  main .main-text p {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin: 25px 25px;
  }
  main .main-image {
    max-width: 700px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
  }
  header .header {
    display: none;
  }
  header .small-screen-menu {
    display: none;
  }
  header .button-menu {
    display: block;
    width: 50px;
    height: 35px;
    visibility: visible;
  }
  header .open {
    display: block;
    height: 230px;
    width: 100%;
    position: relative;
    top: 70px;
    padding: 5px 0px 0px 0px;
    background-color: rgb(216, 216, 216);
    padding-top: 70px;
  }
  header .open ul {
    display: block;
    justify-content: center;
    margin-left: 30px;
    padding: 0px;
  }
  header .open ul li {
    margin-top: 9px;
  }
  header .open ul li a {
    font-size: 20px;
    font-weight: 300;
    line-height: 14px;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: none;
  }
  article .bg-image {
    height: 400px;
  }
  article .bg-image div {
    font-size: 42px;
    font-weight: 600;
  }
  article .bg-image div ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
  article .bg-image div ul .link {
    font-size: 16px;
  }
  article .bg-image div ul .article-list-br {
    display: none;
  }
  main h1 {
    font-size: 25px;
    font-weight: 600;
  }
  main .main-text {
    max-width: 600px;
  }
  main .main-text p {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 25px 25px;
  }
  main .main-image {
    max-width: 600px;
  }
  footer {
    height: 110px;
  }
  footer .footer-manu .footer-top .footer-right {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-right h2 {
    font-size: 18px;
    margin-left: 0;
  }
  footer .footer-manu .footer-top .footer-left {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-left h2 {
    font-size: 18px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  header .open {
    display: block;
    height: 230px;
  }
  header .open ul li a {
    font-size: 18px;
  }
  article .bg-image {
    height: 350px;
  }
  article .bg-image div {
    font-size: 38px;
  }
  article .bg-image div ul {
    margin-top: 30px;
  }
  article .bg-image div ul .link {
    font-size: 15px;
  }
  main h1 {
    font-size: 20px;
    font-weight: none;
  }
  main .main-text {
    max-width: 600px;
  }
  main .main-text p {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin: 15px 15px;
  }
  main .main-image {
    max-width: none;
  }
  main .main-image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 10px 0px;
  }
  footer {
    height: 225px;
  }
  footer .footer-manu .footer-top {
    display: flex;
    flex-direction: column;
  }
  footer .footer-manu .footer-top .footer-right {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-right h2 {
    font-size: 17px;
    margin-left: 0;
    text-align: center;
  }
  footer .footer-manu .footer-top .footer-left {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-left h2 {
    font-size: 17px;
    margin-left: 10px;
  }
  footer .footer-manu .footer-top .footer-left ul li {
    font-size: 14px;
    margin: 5px 0px;
    text-align: center;
  }
  footer .footer-manu .footer-top .footer-left ul li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 374px) {
  header .open ul li a {
    font-size: 17px;
  }
}/*# sourceMappingURL=style.css.map */