html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu .menu-box34 .menu-box4, .menu .menu-box34 .menu-box3, .menu .menu-box12 .menu-box2, .menu .menu-box12 .menu-box1 {
  background: #ffffff;
  width: 680px;
  height: 830px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  margin: 40px 5% 0 70px;
}

.menu .menu-box34 .menu-box4 img, .menu .menu-box34 .menu-box3 img, .menu .menu-box12 .menu-box2 img, .menu .menu-box12 .menu-box1 .box1-image {
  width: 100%;
  height: 100%;
}

.menu .menu-box34 .menu-box4 .box4-title, .menu .menu-box34 .menu-box3 .box3-title, .menu .menu-box12 .menu-box2 .box2-title, .menu .menu-box12 .menu-box1 .box1-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  color: #000000;
  margin: 20px 25px;
}

.menu .menu-box34 .menu-box4 .box4-text, .menu .menu-box34 .menu-box3 .box3-text, .menu .menu-box12 .menu-box2 .box2-text, .menu .menu-box12 .menu-box1 .box1-text, nav .nav-info .nav-title p {
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  margin: 25px 25px;
}

.menu .menu-box34 .menu-box4 .box1-title-info, .menu .menu-box34 .menu-box3 .box3-title-info, .menu .menu-box12 .menu-box2 .box1-title-info, .menu .menu-box12 .menu-box1 .box1-title-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #000000;
  margin: 25px 25px;
}

.menu .menu-box34 .menu-box4 .menu-list4 ul li img, .menu .menu-box34 .menu-box3 .menu-list3 ul li img, .menu .menu-box12 .menu-box2 .menu-list2 ul li img, .menu .menu-box12 .menu-box1 .menu-list ul li img {
  width: 100%;
  height: 100%;
  border-color: #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0%;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 60px;
  width: 100%;
  background: rgb(236, 236, 236);
}
header .small-screen-menu {
  display: none;
}
header ul {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20px 0 0 0;
}
header ul ul {
  display: none;
}
header ul .open ul {
  display: block;
  height: 80px;
  position: relative;
  top: 20px;
  padding: 5px 0px 0px 0px;
  background-color: #d6d5d5;
  background: rgba(236, 236, 236, 0.5);
}
header ul .open ul li {
  margin-top: 7px;
}
header ul .open ul li a {
  font-size: 16px;
  font-weight: 300;
  line-height: 14px;
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
}
header ul .open ul li:hover {
  color: #85a3db;
}
header ul .link {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.1s;
}
header ul .link:hover {
  color: #85a3db;
}

article .bg-image {
  background-image: url(../image/menu.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
article .bg-image div {
  font-size: 68px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: black 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
article .bg-image div ul {
  display: flex;
}
article .bg-image div ul .link {
  font-size: 17px;
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
  text-shadow: black 5px 5px 5px;
}
article .bg-image div ul .article-list-br {
  box-shadow: 1px 1px #000000;
  margin: 0 20px 0px;
  background: #ffffff;
  height: 5px;
  width: 5px;
  display: inline-block;
  border-radius: 40%;
}

nav {
  width: 100%;
}
nav .nav-info {
  width: 100%;
  height: 2%;
  display: flex;
  justify-content: space-around;
}
nav .nav-info .nav-title {
  margin-top: 30px;
}
nav .nav-info .nav-title h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #000000;
}
nav .nav-info .nav-title p {
  margin: 15px 0px;
}
nav .nav-box {
  margin-top: 100px;
}
nav .nav-box .nav-box123 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-box .nav-box123 .nav-box1 {
  width: 80%;
  height: 100%;
  overflow: hidden;
}
nav .nav-box .nav-box123 .nav-box1 img {
  width: 100%;
  height: 100%;
}
nav .nav-box .nav-box123 .nav-box2 {
  width: 80%;
  height: 100%;
  overflow: hidden;
}
nav .nav-box .nav-box123 .nav-box2 img {
  width: 100%;
  height: 100%;
}
nav .nav-box .nav-box123 .nav-box3 {
  width: 100%;
  height: 100%;
}
nav .nav-box .nav-box123 .nav-box3 h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 16px;
  color: #000000;
  margin: 20px 25px;
  margin: 10%;
}
nav .nav-box .nav-box123 .nav-box3 p {
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  margin: 10%;
}
nav .nav-box .nav-box123 .nav-box4 {
  width: 80%;
  height: 100%;
  overflow: hidden;
}
nav .nav-box .nav-box123 .nav-box4 img {
  width: 100%;
  height: 100%;
}
nav .nav-box .nav-box45 {
  width: 100%;
  display: flex;
}
nav .nav-box .nav-box45 .nav-box5 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
nav .nav-box .nav-box45 .nav-box5 img {
  width: 100%;
  height: 100%;
}
nav .nav-box .nav-box45 .nav-box6 {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
nav .nav-box .nav-box45 .nav-box6 img {
  width: 100%;
  height: 100%;
}
nav .nav-box .nav-box45 .nav-box7 {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
nav .nav-box .nav-box45 .nav-box7 img {
  width: 100%;
  height: 100%;
}

main {
  padding-right: 50px;
  margin: 0 100px 50px 100px;
}
main .menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -50px;
}
main .menu-title .menu-title1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 16px;
  color: #000000;
  text-shadow: rgb(206, 204, 204) 2px 2px 2px;
}
main .menu-title .menu-title2 {
  max-width: 1200px;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 50px 0px;
  text-align: center;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 2%;
}
.menu .menu-box12 .menu-box1 .menu-list {
  width: 100%;
}
.menu .menu-box12 .menu-box1 .menu-list ul {
  display: flex;
  justify-content: space-between;
}
.menu .menu-box12 .menu-box1 .menu-list ul li {
  list-style: none;
  padding: 0.5%;
}
.menu .menu-box12 .menu-box1 .box1-title-info .box1-title-info-img {
  width: 80px;
  height: 12px;
  margin-left: 20px;
}
.menu .menu-box12 .menu-box2 .menu-list2 {
  width: 100%;
}
.menu .menu-box12 .menu-box2 .menu-list2 ul {
  display: flex;
  justify-content: space-between;
}
.menu .menu-box12 .menu-box2 .menu-list2 ul li {
  list-style: none;
  padding: 0.5%;
}
.menu .menu-box12 .menu-box2 .box1-title-info .box1-title-info-img {
  width: 80px;
  height: 12px;
  margin-left: 20px;
}
.menu .menu-box34 .menu-box3 .menu-list3 {
  width: 100%;
}
.menu .menu-box34 .menu-box3 .menu-list3 ul {
  display: flex;
  justify-content: space-between;
}
.menu .menu-box34 .menu-box3 .menu-list3 ul li {
  list-style: none;
  padding: 0.5%;
}
.menu .menu-box34 .menu-box3 .box3-title-info .box3-title-info-img {
  width: 80px;
  height: 12px;
  margin-left: 20px;
}
.menu .menu-box34 .menu-box4 .menu-list4 {
  width: 100%;
}
.menu .menu-box34 .menu-box4 .menu-list4 ul {
  display: flex;
  justify-content: space-between;
}
.menu .menu-box34 .menu-box4 .menu-list4 ul li {
  list-style: none;
  padding: 0.5%;
}
.menu .menu-box34 .menu-box4 .box1-title-info .box1-title-info-img {
  width: 80px;
  height: 12px;
  margin-left: 20px;
}

section {
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 20px;
  height: 450px;
}
section .section-box h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 16px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: rgb(206, 204, 204) 2px 2px 2px;
  margin: 20px 0 20px 0;
}
section .section-box h2 .link {
  text-decoration: none;
  color: #000000;
}
section .section-box h2 .link:hover {
  color: #85a3db;
}
section .section-box .carousel {
  display: flex;
  align-items: center;
  overflow: scroll;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section .section-box .carousel li {
  display: inline-block;
  scroll-snap-align: center;
  border-radius: 3px;
  font-size: 0;
  margin: 20px;
}
section .section-box .carousel li img {
  width: 600px;
  height: 380px;
  display: block;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
section .section-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
section .section-modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}
section .section-modal .modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
section .section-modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
section .section-modal .close:hover, section .section-modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.active {
  scroll-snap-type: unset;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(236, 236, 236);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
footer .footer-manu {
  padding-left: 40px;
  padding-right: 40px;
}
footer .footer-manu .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-manu .footer-top .footer-left {
  margin-top: 20px;
}
footer .footer-manu .footer-top .footer-left h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  color: #000000;
  margin: 20px 20px;
  text-shadow: rgb(206, 204, 204) 2px 2px 2px;
}
footer .footer-manu .footer-top .footer-left ul li {
  margin: 10px 20px;
}
footer .footer-manu .footer-top .footer-left ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: 0.2s;
}
footer .footer-manu .footer-top .footer-left ul li a:hover {
  color: #85a3db;
}
footer .footer-manu .footer-top .footer-right {
  margin-top: 20px;
}
footer .footer-manu .footer-top .footer-right h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  color: #000000;
  margin: 20px 5px;
  text-shadow: rgb(206, 204, 204) 2px 2px 2px;
}
footer .footer-manu .footer-top .footer-right li {
  margin: 10px 10px;
  font-size: 16px;
}
footer .footer-manu .footer-top .footer-right img {
  width: 80px;
  height: 25px;
  border-radius: 10px;
}
footer .footer-manu .footer-line {
  position: absolute;
  width: 85%;
  height: 0px;
  border: 1px solid #a8a8a8;
  margin-left: 5%;
  margin-right: 100px;
}
footer .footer-manu .footer-bot {
  font-size: 10px;
  margin: 20px 20px;
}

@media (min-width: 1600px) {
  article {
    width: 100%;
    height: 600px;
  }
  nav {
    height: 1000px;
  }
  .nav-box123, .nav-box45 {
    height: 400px;
  }
}
@media (max-width: 1600px) {
  article {
    width: 100%;
    height: 500px;
  }
  nav {
    height: 900px;
  }
  .nav-box123, .nav-box45 {
    height: 370px;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    width: 600px;
    height: 750px;
    margin: 40px 5% 0 70px;
  }
}
@media (max-width: 1400px) {
  article {
    width: 100%;
    height: 400px;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    width: 520px;
    height: 710px;
    margin: 40px 5% 0 70px;
  }
  .menu-title {
    margin-bottom: -50px;
  }
  .menu-title .menu-title1 {
    font-size: 24px;
  }
  .menu-title .menu-title2 {
    max-width: 900px;
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  article {
    width: 100%;
    height: 300px;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    width: 420px;
    height: 630px;
    margin: 40px 5% 0 70px;
  }
  main .menu-title {
    margin-bottom: -50px;
  }
  main .menu-title .menu-title1 {
    font-size: 24px;
  }
  main .menu-title .menu-title2 {
    max-width: 800px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 50px 0px;
    text-align: center;
  }
  section {
    height: 400px;
  }
  section .section-box .carousel li {
    border-radius: 3px;
    font-size: 0;
    margin: 10px;
  }
  section .section-box .carousel li img {
    width: 400px;
    height: 320px;
  }
  footer {
    height: 170px;
  }
  .footer-line {
    display: none;
  }
  .footer-bot {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  article {
    width: 100%;
    height: 350px;
  }
  nav .nav-box .nav-box123 .nav-box3 h2 {
    font-size: 33px;
  }
  nav .nav-box .nav-box123 .nav-box3 p {
    font-size: 19px;
  }
  nav .nav-info .nav-title h2 {
    font-size: 20px;
  }
  nav .nav-info .nav-title p {
    font-size: 16px;
  }
  nav .nav-box .nav-box45 .nav-box7 {
    width: 100%;
  }
  nav {
    height: 650px;
  }
  .nav-box45 {
    width: 100%;
    height: 250px;
  }
  .nav-box123 {
    height: 250px;
  }
  .nav-box .nav-box1 {
    display: none;
  }
  .nav-box .nav-box2 {
    display: none;
  }
  .nav-box .nav-box6 {
    display: none;
  }
  .nav-box .nav-box5 {
    width: 100%;
  }
  .nav-box .nav-box7 {
    width: 100%;
  }
  #nav-title4 {
    display: none;
  }
  main {
    max-width: none;
    margin: 0 0px 50px 50px;
  }
  main .menu-title {
    margin-bottom: -50px;
  }
  main .menu-title .menu-title1 {
    font-size: 24px;
  }
  main .menu-title .menu-title2 {
    max-width: 700px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 50px 0px;
    text-align: center;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    width: 100%;
    height: 825px;
    margin: 40px 0px 0 0px;
  }
  .menu .menu-box12 .menu-box1 .box1-image, .menu .menu-box12 .menu-box2 img, .menu .menu-box34 .menu-box3 img, .menu .menu-box34 .menu-box4 img {
    width: 100%;
    height: 500px;
  }
  .menu .menu-box12 .menu-box1 .box1-title, .menu .menu-box12 .menu-box2 .box2-title, .menu .menu-box34 .menu-box3 .box3-title, .menu .menu-box34 .menu-box4 .box4-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    margin: 20px 25px;
  }
  nav .nav-info .nav-title p, .menu .menu-box12 .menu-box1 .box1-text, .menu .menu-box12 .menu-box2 .box2-text, .menu .menu-box34 .menu-box3 .box3-text, .menu .menu-box34 .menu-box4 .box4-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin: 25px 25px;
  }
  section {
    padding-left: 0px;
    padding-right: 0px;
  }
  section .section-box h2 {
    font-size: 24px;
  }
  section .section-box .carousel {
    margin-left: -25%;
  }
  section .section-box .carousel li {
    margin: 20px 5px 20px 5px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
  }
  header .button-menu {
    display: block;
    width: 50px;
    height: 35px;
    visibility: visible;
  }
  header .small-screen-menu {
    display: none;
  }
  header .open {
    display: block;
    height: 320px;
    width: 100%;
    position: relative;
    top: 125px;
    padding: 5px 0px 0px 0px;
    background-color: #cfcece;
    padding-top: 70px;
  }
  header .open ul {
    display: block;
    justify-content: center;
    margin-left: 30px;
    padding: 0px;
  }
  header .open li {
    margin-top: 7px;
  }
  header .open li a {
    font-size: 16px;
    font-weight: 300;
    line-height: 14px;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: none;
  }
  article {
    width: 100%;
    height: 300px;
  }
  article .bg-image div {
    font-size: 36px;
    font-weight: 600;
  }
  article .bg-image div ul {
    display: flex;
    margin-top: 10px;
  }
  article .bg-image div ul .article-list-br {
    margin: 0 6px 0px;
  }
  article .bg-image div ul .link {
    font-size: 14px;
    font-weight: 200;
  }
  nav .nav-box .nav-box123 .nav-box3 h2 {
    font-size: 30px;
  }
  nav .nav-box .nav-box123 .nav-box3 p {
    font-size: 16px;
    margin: 10px 10px;
  }
  nav {
    height: 650px;
  }
  nav .nav-info .nav-title h2 {
    font-size: 14px;
  }
  nav .nav-info .nav-title p {
    font-size: 12px;
  }
  nav .nav-box45 {
    width: 100%;
    height: 250px;
  }
  nav .nav-box123 {
    height: 250px;
  }
  nav .nav-box .nav-box1 .nav-box2 .nav-box6 {
    display: none;
  }
  nav .nav-box .nav-box5 .nav-box7 {
    width: 100%;
  }
  #nav-title4 {
    display: none;
  }
  main {
    margin: 0 0px 0px 50px;
  }
  main .menu-title {
    margin-bottom: -40px;
  }
  main .menu-title .menu-title2 {
    max-width: 500px;
    font-size: 17px;
    line-height: 15px;
    color: #000000;
    margin: 20px 0px;
    text-align: center;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    width: 100%;
    height: 690px;
    margin: 40px 0px 0 0px;
  }
  .menu .menu-box12 .menu-box1 .box1-image, .menu .menu-box12 .menu-box2 img, .menu .menu-box34 .menu-box3 img, .menu .menu-box34 .menu-box4 img {
    width: 100%;
    height: 400px;
  }
  .menu .menu-box12 .menu-box1 .box1-title, .menu .menu-box12 .menu-box2 .box2-title, .menu .menu-box34 .menu-box3 .box3-title, .menu .menu-box34 .menu-box4 .box4-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    margin: 20px 25px;
  }
  nav .nav-info .nav-title p, .menu .menu-box12 .menu-box1 .box1-text, .menu .menu-box12 .menu-box2 .box2-text, .menu .menu-box34 .menu-box3 .box3-text, .menu .menu-box34 .menu-box4 .box4-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin: 25px 25px;
  }
  nav .nav-info .nav-title p {
    margin: 5px 5px;
  }
  section {
    height: 390px;
  }
  section .section-box h2 {
    font-size: 24px;
  }
  section .section-box .carousel {
    margin-left: -35%;
  }
  footer {
    height: 110px;
  }
  footer .footer-manu .footer-top .footer-right {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-right h2 {
    font-size: 18px;
    margin-left: 0;
  }
  footer .footer-manu .footer-top .footer-right li {
    font-size: 14px;
    margin: 5px 0px;
  }
  footer .footer-manu .footer-top .footer-right img {
    width: 60px;
    height: 20px;
  }
  footer .footer-manu .footer-top .footer-left {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-left h2 {
    font-size: 18px;
    margin-left: 0;
  }
  footer .footer-manu .footer-top .footer-left ul li {
    font-size: 14px;
    margin: 5px 0px;
  }
  footer .footer-manu .footer-top .footer-left ul li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  header .open {
    display: block;
    height: 290px;
  }
  article {
    width: 100%;
    height: 270px;
  }
  article .bg-image div {
    font-size: 32px;
    font-weight: 600;
  }
  article .bg-image div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  article .bg-image div ul .article-list-br {
    display: none;
  }
  article .bg-image div ul .link {
    font-size: 14px;
    font-weight: 200;
  }
  nav .nav-box .nav-box123 .nav-box3 h2 {
    font-size: 25px;
  }
  nav .nav-box .nav-box123 .nav-box3 p {
    font-size: 14px;
    margin: 10px 10px;
  }
  nav {
    height: 500px;
  }
  nav .nav-info .nav-title {
    margin-top: 10px;
  }
  nav .nav-info .nav-title h2 {
    font-size: 13px;
  }
  nav .nav-info .nav-title p {
    font-size: 11px;
  }
  nav .nav-box45 {
    width: 100%;
    height: 200px;
  }
  nav .nav-box123 {
    height: 200px;
  }
  nav .nav-box {
    margin-top: 50px;
  }
  nav .nav-box .nav-box1 .nav-box2 .nav-box6 {
    display: none;
  }
  nav .nav-box .nav-box5 .nav-box7 {
    width: 100%;
  }
  #nav-title4, #nav-title2 {
    display: none;
  }
  main {
    margin: 0 0px 0px 10px;
    padding: 0 10px 0 0px;
  }
  main .menu-title {
    margin-bottom: -30px;
  }
  main .menu-title .menu-title1 {
    font-size: 19px;
  }
  main .menu-title .menu-title2 {
    font-size: 14px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    height: 500px;
    margin: 40px 0px 0 0px;
  }
  .menu .menu-box12 .menu-box1 .box1-image, .menu .menu-box12 .menu-box2 img, .menu .menu-box34 .menu-box3 img, .menu .menu-box34 .menu-box4 img {
    height: 270px;
  }
  .menu .menu-box12 .menu-box1 .box1-title, .menu .menu-box12 .menu-box2 .box2-title, .menu .menu-box34 .menu-box3 .box3-title, .menu .menu-box34 .menu-box4 .box4-title {
    font-size: 16px;
    margin: 15px 0px 15px 25px;
  }
  nav .nav-info .nav-title p, .menu .menu-box12 .menu-box1 .box1-text, .menu .menu-box12 .menu-box2 .box2-text, .menu .menu-box34 .menu-box3 .box3-text, .menu .menu-box34 .menu-box4 .box4-text {
    font-size: 13px;
    margin: 10px 25px;
  }
  .menu .menu-box12 .menu-box1 .box1-title-info, .menu .menu-box12 .menu-box2 .box1-title-info, .menu .menu-box34 .menu-box3 .box3-title-info, .menu .menu-box34 .menu-box4 .box1-title-info {
    font-size: 11px;
  }
  span {
    display: none;
  }
  section {
    height: 320px;
  }
  section .section-box h2 {
    font-size: 24px;
  }
  section .section-box .carousel {
    margin-left: 0;
  }
  section .section-box .carousel li {
    border-radius: 3px;
    font-size: 0;
    margin: 20px 5px 20px 5px;
  }
  section .section-box .carousel li img {
    width: 320px;
    height: 250px;
  }
  footer {
    height: 215px;
  }
  footer .footer-manu .footer-top {
    display: flex;
    flex-direction: column;
  }
  footer .footer-manu .footer-top .footer-right {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-right h2 {
    font-size: 17px;
    margin-left: 0;
  }
  footer .footer-manu .footer-top .footer-right li {
    font-size: 14px;
    margin: 5px -65px;
    text-align: center;
  }
  footer .footer-manu .footer-top .footer-left {
    margin-top: -10px;
  }
  footer .footer-manu .footer-top .footer-left h2 {
    font-size: 17px;
    margin-left: 15px;
  }
  footer .footer-manu .footer-top .footer-left ul li {
    font-size: 14px;
    margin: 5px 0px;
    text-align: center;
  }
  footer .footer-manu .footer-top .footer-left ul li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 374px) {
  header .open {
    height: 280px;
    padding-top: 20px;
  }
  header .open ul li a {
    font-size: 13px;
  }
  article {
    width: 100%;
    height: 260px;
  }
  article .bg-image div {
    font-size: 32px;
  }
  article .bg-image div ul .link {
    font-size: 13px;
  }
  main {
    max-width: none;
    padding: 0 10px 0 0;
  }
  .menu-title {
    font-size: 16px;
    line-height: 16px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .menu .menu-box12 .menu-box1, .menu .menu-box12 .menu-box2, .menu .menu-box34 .menu-box3, .menu .menu-box34 .menu-box4 {
    height: 480px;
    margin: 20px 0px 0 0px;
  }
  .menu .menu-box12 .menu-box1 .box1-image, .menu .menu-box12 .menu-box2 img, .menu .menu-box34 .menu-box3 img, .menu .menu-box34 .menu-box4 img {
    height: 230px;
  }
  .menu .menu-box12 .menu-box1 .box1-title, .menu .menu-box12 .menu-box2 .box2-title, .menu .menu-box34 .menu-box3 .box3-title, .menu .menu-box34 .menu-box4 .box4-title {
    font-size: 16px;
    margin: 15px 0px 15px 25px;
  }
  nav .nav-info .nav-title p, .menu .menu-box12 .menu-box1 .box1-text, .menu .menu-box12 .menu-box2 .box2-text, .menu .menu-box34 .menu-box3 .box3-text, .menu .menu-box34 .menu-box4 .box4-text {
    font-size: 13px;
    margin: 10px 25px;
  }
  .menu .menu-box12 .menu-box1 .box1-title-info, .menu .menu-box12 .menu-box2 .box1-title-info, .menu .menu-box34 .menu-box3 .box3-title-info, .menu .menu-box34 .menu-box4 .box1-title-info {
    font-size: 11px;
  }
  span {
    display: none;
  }
  section {
    height: 320px;
  }
  section .section-box h2 {
    font-size: 24px;
  }
  section .section-box .carousel {
    margin-left: 0;
  }
  section .section-box .carousel li {
    border-radius: 3px;
    font-size: 0;
    margin: 20px 5px 20px 5px;
  }
  section .section-box .carousel li img {
    width: 290px;
    height: 250px;
  }
}/*# sourceMappingURL=style.css.map */